
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

@media screen and (max-width: 736px) {
    display:flex;
    display-direction:column;
}
    

h1 {
    text-transform:uppercase;
    font-size:35px;
}

.contenedor {

}