/*mobile first*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.flex-container-1 {
    display:flex;
    flex-direction:column;
    background-color:#544351;
    width: 360px;
}

.time {
    padding-top: 10px;
    text-align: center;
    color: #fff; 
}

h1 {
    text-transform:uppercase;
    font-size:35px;
    text-align:center;
    color:#fff;
}

.navbar {
    display:none;
}

.center {
    display:flex;
    flex-wrap:wrap;
}

.center-image {
    width: 300px;
}

.center-text {
    width: 360px;
}


a {
    text-decoration:none;
    color:black;
}

h2 {
    margin-left: 5px;
    font-size: 15px;
}

.bottom {
    display:flex;
    flex-wrap:wrap;
}

.bottom-image{
    width=
}

.bottom-text {

}
/*quede aca/


.bottom-title {
    background-color:#544351;
    color:#fff;
        
    /*/

    width:360px;
    /*/
}


.aside-title {
    background-color:#544351;
    color:#fff;
    text-align:center;
    width:360px;
}

.aside {
    flex-direction:column;
}

.aside-box-1 {
    flex-wrap:wrap;
    
}

.aside-image {
    width:360px;
}

.aside-text {
    width:360px;
}

.footer {
    background-color: cornflowerblue;
    /*/
    width: 360px;

}

/*tablet design*/
