/*mobile first*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.flex-container-1 {
    display:flex;
    flex-direction:column;
    background-color:#544351;
    text-align: center;
}

.time {
    padding-top: 10px;
    text-align: center;
    color: #fff; 
}

h1 {
    text-transform:uppercase;
    font-size:35px;
    color:#fff;
}

.display-none {
    display:none;
}

.center {
    display:flex;
    flex-wrap:wrap;
}

.center img, h2 {
    width: 355px;
}

a {
    text-decoration:none;
}

h2 {
    margin-left: 10px;
    font-size: 15px;
}

.bottom-title {
    background-color:#544351;
    color:#fff;
}

li {
    list-style-type:none;
}

.bottom-content img, h2{
    width: 355px;
}

.most-read-title {
    background-color: #544351;
    color:#fff;
}

/*quede aca/
     

.aside-title {
    background-color:#544351;
    color:#fff;
    text-align:center;
    width:360px;
}

.aside {
    flex-direction:column;
}

.aside-box-1 {
    flex-wrap:wrap;
    
}

.aside-image {
    width:360px;
}

.aside-text {
    width:360px;
}

.footer {
    background-color: cornflowerblue;
    /*/

/*tablet design*/
