/*mobile first*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.flex-container-1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #544351;
}

.time {
    text-align: center;
    padding-top: 10px;
    color: #fff; 
}

h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
}

.navbar, .aside {
    display: none;
}

.hamb-menu img{
    width: 15px;
}

.primero {
    display: flex;
}

.center {
    display: flex;
    flex-wrap: wrap;
}

.center img, h2 {
    width: 351px;
}

h2 {
    align-content: center;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    align-content: center;
    margin-left: 10px;
}

.bottom-title {
    background-color: #544351;
    color: #fff;
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
}

.bottom-content img, h3 {
    width: 351px;
}

.most-read-title {
    background-color: #544351;
    color: #fff;
}

.most-read-content img{
    width: 355px;
 }

 footer {
     background-color: #544351;
     color: #fff;
}

 .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;    
}

.sections a:hover {
    color: #fff;
}

.social-media a:hover{
    color: #fff;
}

form {
    margin-left: 20px;
}

/*ipad vesion*/
@media screen and (min-width: 768px){
    .navbar{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #544351;   
        font-size: 20px;
        font-weight: bold;
     
    }

    .navbar a {
        color: white;
    }

    .navbar a:hover {
        color: black;
    }
    
    .hamb-menu {
        display: none;        
    }

    .time {
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }

    .primero {
        display: flex;
        flex-direction: row;
    }

    .hidden {
        display: flex;
        flex-direction: row;
    }

    .center img {
        margin-top: 10px;
    }

    h2 {
        font-size: 30px;
    }

    h3{
        font-size: 30px;
    }

    .sections {
        font-size: 20px;
    }

    .social-media {
        font-size: 20px;
     }
    
     form {
        margin-left: 270px;
    }
}

/*desktop*/
@media screen and (min-width: 900px){
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
    }    

    .center {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

    .center img, h2 {
        width: 600px;
    }

    .aside { 
        display: flex;
        margin-top: 10px;
    } 
    
    form {
        margin-left: 500px;
    }
}